extends layout

block content
    script(type="module" src="/gameAssets/main.js")

    if userBar
        include userBar
    
    <div id="diverreur" style="position:absolute;width:100wh;height: 100%;margin:0;padding: 0;display: flex;flex-direction:column;align-items: center ;justify-content: center;">
        p Si tu vois çà, c'est que y'a un bug !
